# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Selenium logs
*.log

# VS Code settings
.vscode/

# Jupyter checkpoints
.ipynb_checkpoints/

# Output files
data/
*.csv
*.xlsx

# Driver cache
.wdm/

#Session file
session/

